html,
body {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #523638;
    padding: 10px 5px;
    box-sizing: border-box;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    font-weight: 300;
}
.header__title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.header__edit,
.header__title {
    margin-right: auto;
}

.chats {
    padding-top: 40px;
    padding-bottom: 50px;
}

.chat {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.chat__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat__text {
    flex-grow: 2;
    margin-left: 20px;
}

.chat__username {
    font-weight: 600;
    display: block;
}

.chat__preview,
.chat__date {
    color: rgba(0, 0, 0, 0.5);
}

.chat__date {
    font-size: 10px;
}

.footer {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    padding-bottom: 0;
    background-color: #f7f7f7;
    bottom: 0;
    box-sizing: border-box;
}

.footer__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c1c1c1;
}

.footer__icon--selected {
    color: #523638;
}

.footer__text {
    margin-top: 5px;
    font-size: 10px;
}

.action-btn {
    width: 60px;
    height: 60px;
    background-color: #ffe84d;
    position: fixed;
    bottom: 80px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #523638;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}

.action-btn--notYellow {
    background-color: white;
    bottom: 180px;
    right: -100px;
    transition: all .3s ease-in-out;
}

.showing-button {
    right: 20px;
}
